/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.qti-customInteraction .PivotTable .prompt,
.qti-customInteraction .PivotTable .rawDataCaption,
.qti-customInteraction .PivotTable .scatterPlotCaption {
	position: relative;
}

.ScatterPlot {
	margin: 0;
	font-family: "Franklin Gothic","Franklin Gothic Medium","Source Sans Pro", "Noto Sans JP", メイリオ, Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: inherit;
}

.ScatterPlot .card {
	font-size: 1.2rem;
	/* .shadow-4dp */
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.ScatterPlot h1,
.ScatterPlot .h1 {
	font-size: 2.5rem;
}

.ScatterPlot h2,
.ScatterPlot .h2 {
	font-size: 2rem;
}

.ScatterPlot h3,
.ScatterPlot .h3 {
	font-size: 1.75rem;
}

.ScatterPlot h4,
.ScatterPlot .h4 {
	font-size: 1.5rem;
}

.ScatterPlot h5,
.ScatterPlot .h5 {
	font-size: 1.25rem;
}

.ScatterPlot h6,
.ScatterPlot .h6 {
	font-size: 1rem;
}

table.table-csv-data thead tr th {
	font-size: 1.2rem;
}

table.table-csv-data thead tr th span.icon {
	font-size: 1.4rem;
}

table.table-csv-data thead tr th,
table.table-csv-data tbody tr th,
table.table-csv-data tfoot tr th,
table.table-csv-data thead tr td,
table.table-csv-data tbody tr td,
table.table-csv-data tfoot tr td {
	padding: 6px 20px 2px 12px;
}

.ScatterPlot .tooltip {
	font-size: 1.15rem;
	z-index: 105003;
	opacity: 1;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

ul.choices {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

ul.choices>li {
	padding: 0 0 0 1rem;
	margin: 0;
	list-style: none;
	width: 100%;
}

.btn-choice {
	text-align: left;
	font-size: 1rem !important;
	line-height: 1.8rem;
	height: 1.8rem;
	margin: 0.2rem 0px 0.2rem 0px;
}

.btn-choice-add {
	text-align: left;
	font-size: 1rem !important;
	line-height: 1.2rem;
	height: 1.8rem;
	margin: 0.2rem 0px 0.2rem 0px;
}

div.ScatterPlot .red, .dacc-sort-choices .red {
	background-color: #c12a40;
	text-shadow: 1px 1px 0 #950e22;
}

div.ScatterPlot .orange, .dacc-sort-choices .orange {
	background-color: #c0702a;
	text-shadow: 1px 1px 0 #954d0e;
	;
}

div.ScatterPlot .yellow, .dacc-sort-choices .yellow {
	background-color: #daa232;
	text-shadow: 1px 1px 0 #a37d30;
}

div.ScatterPlot .green, .dacc-sort-choices .green {
	background-color: #269c5d;
	text-shadow: 1px 1px 0 #0b743c;
}

div.ScatterPlot .blue, .dacc-sort-choices .blue {
	background-color: #266d9c;
	text-shadow: 1px 1px 0 #0b4a74;
}

div.ScatterPlot .purple, .dacc-sort-choices .purple {
	background-color: #6b269c;
	text-shadow: 1px 1px 0 #490b75;
}

div.ScatterPlot .gray, div.ScatterPlot .gray>span, .dacc-sort-choices .gray, .dacc-sort-choices .gray>span, .choices .gray {
	background-color: #AAAAAA;
	text-shadow: 1px 1px 0 #404040 !important;
}

div.ScatterPlot .gold, .dacc-sort-choices .gold, .choices .gold {
	background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
	text-shadow: 1px 1px 0 #202020 !important;
}

div.ScatterPlot .silver, .dacc-sort-choices .silver, .choices .silver {
	background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
	text-shadow: 1px 1px 0 #202020 !important;
}

.shadow-2dp {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.shadow-3dp {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.shadow-4dp {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.shadow-6dp {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.shadow-8dp {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

.shadow-16dp {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.shadow-24dp {
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2)
}

.shadow-0 {
	box-shadow: none;
}

/*
 * 内側の影(2dp)
 */

.shadow-2dp-inset {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10) inset, 0 3px 1px -2px rgba(0, 0, 0, 0.14) inset, 0 1px 5px 0 rgba(0, 0, 0, 0.08) inset;
}

.shadow-4dp-inset {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14) inset, 0 1px 10px 0 rgba(0, 0, 0, .12) inset, 0 2px 4px -1px rgba(0, 0, 0, .2) inset;
}

.modal-sm {
	width: 42rem !important;
	padding: 2.4rem;
}

.pull-right {
	float: right !important;
}

/**
 * スタイルエディタ
 **/
.card-style-editor {
	background-color: inherit;
	font-size: inherit;
}

/**
 * Label
 */

.label-dacc {
	display: inline-block !important;
	padding: 0.2rem 0.6rem 0.3rem;
	line-height: 1.4rem !important;
	font-size: 1.2rem !important;
	font-weight: bold;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.label-as-badge {
	padding: 0.3rem 0.8rem;
	border-radius: 1rem;
	margin-right: 0.5rem;
}

.label-js-execute {
	float: right;
	cursor: pointer;
}

.label-sup {
	padding: 0.0rem 0.4rem;
	margin-right: 0.0rem;
	font-size: 0.8rem;
}

.label-sort {
	background-color: #f5f5f5;
	color: #1b6590;
}

/* sort_verticalの選択肢内の書き換え可能部分 */

.btn .label-rewritable {
	top: 0px;
	border-radius: 0.25rem;
}

.label-rewritable {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	vertical-align: inherit;
	line-height: 1.6rem !important;
	padding: 0em 0.4em;
	margin: 0em;
	background-color: #FFFFFF40;
	transition: all 0.3s ease;
	min-width: 2rem;
	min-height: 1.6rem;
}

/* sort_verticalの選択肢内の書き換え可能部分(空の場合も表示する) */

.label-rewritable:empty {
	display: inline;
	padding: 0px 10px;
}

/* sort_verticalの選択肢内の書き換え可能部分(編集中) */

.rewriting {
	background-color: #FFFFFF;
	color: #333333;
	border: 0 !important;
	transition: all 0.3s ease;
}

/* sort_verticalの選択肢内の書き換え可能部分(編集中のinputタグ) */

input.label-rewritable-input {
	background: transparent;
	color: inherit;
	border: 0 !important;
	letter-spacing: inherit;
	line-height: inherit;
	outline: 0;
	padding: 0;
	margin: 0;
	min-width: 12px;
	max-width: 240px;
	transition: all 0.3s ease;
}

/**
 * ここから
 */

.row-container {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}

.col50 {
	width: 50%;
}

.well {
	min-height: 2rem;
	padding: 1.2rem;
	margin-bottom: 1rem;
	background-color: #E0E0E0;
	border: 1px solid #E0E0E040;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.well-sm {
	padding: 9px;
	border-radius: 3px;
}

/* 並べ替え(horizontal) 選択肢の枠 */

.well-choices {
	margin: -4px 0px 4px 0px;
	min-width: 80%;
	min-height: 3em;
	height: 100%;
	padding: 0px;
}

.well-choices:last-child {
	margin-bottom: 0em;
}

.well-choices>ul.sort-container {
	list-style-type: none;
	width: 100%;
	min-height: 3rem;
	height: 100%;
	margin: 0px;
	padding: 0.5rem;
	overflow: auto;
}

.well-choices>ul.sort-container>li.sort-element {
	display: block;
	line-height: 2.1rem;
	height: 2.0rem;
	margin: 0.4rem 0 0.4rem 0;
	text-align: left;
	transition: padding 0.3s ease;
}

.well-code>ul.sort-container>li.sort-element, .well-code>ul.sort-container>li.sort-element>input {
	letter-spacing: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * 基データテーブル
 **/
.table-responsive {
	height: 24rem;
	overflow: scroll;
}

table.table-csv-data thead tr:nth-child(1) th:nth-child(n + 1) {
	background-color: #FFFFFFBF;
	position: sticky;
	top: 0;
	z-index: 10;
}

table.table-responsive tbody tr td {
	transition: 300ms;
}

.muted {
	opacity: 0.4;
}

.highlight {
	background-color: #ca3a2f30;
}

/**
 * フォーム
 **/
.qti-item input[type="color"], .qti-item input[type="date"], .qti-item input[type="datetime"], .qti-item input[type="datetime-local"], .qti-item input[type="email"], .qti-item input[type="month"], .qti-item input[type="number"], .qti-item input[type="range"], .qti-item input[type="search"], .qti-item input[type="tel"], .qti-item input[type="time"], .qti-item input[type="text"], .qti-item input[type="password"], .qti-item input[type="url"], .qti-item input[type="week"], .qti-item textarea, .qti-item select {
	border: 0;
}

.qti-item .qti-interaction input[type="color"], .qti-item .qti-interaction input[type="date"], .qti-item .qti-interaction input[type="datetime"], .qti-item .qti-interaction input[type="datetime-local"], .qti-item .qti-interaction input[type="email"], .qti-item .qti-interaction input[type="month"], .qti-item .qti-interaction input[type="number"], .qti-item .qti-interaction input[type="range"], .qti-item .qti-interaction input[type="search"], .qti-item .qti-interaction input[type="tel"], .qti-item .qti-interaction input[type="time"], .qti-item .qti-interaction input[type="text"], .qti-item .qti-interaction input[type="password"], .qti-item .qti-interaction input[type="url"], .qti-item .qti-interaction input[type="week"], .qti-item .qti-interaction textarea, .qti-item .qti-interaction select {
	border: 0px;
}

select.scatter-plot-setting {
	appearance: auto;
	border: 0;
}

.qti-item div.form-reset-button {
	margin-top: -3.2rem;
}

div.form-inline label.graph-axis-label {
	margin-bottom: 0;
	width: 5rem;
	text-align: right;
	white-space: nowrap;
}

div.form-inline label.graph-setting-label {
    margin-bottom: 0;
    width: 9.6rem;
    text-align: right;
    white-space: nowrap;
}

.text-start {
	text-align: left !important;
}

.text-end {
	text-align: right !important;
}

.unicode-emoji {
	font-size: 1.4rem;
	font-family: "Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Sans Emoji" !important;
	opacity: 0.85;
}

.unicode-emoji-mute {
	opacity: 0.25;
}

/* 目のアイコン */
.unicode-emoji-eye:after {
	content: "\1F441";
}

/* ゴミ箱アイコン */
.unicode-emoji-trash:after {
	content: "\1F5D1";
}

/* フラグアイコン */
.unicode-emoji-flag:after {
	content: "\1F6A9";
}

.hr {
	margin: 1.5rem 1.0rem !important;
	border: 0;
	height: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.16);
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
